* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0; /* o margin e o padding zero é porque o navegador fica colocando isso sozinho por padrão */
    padding: 0;
    font-family: "Electrolize", sans-serif;
    color: #212529;
    background-color: #CED4DA; 
}


header {
    height: 50px;
    padding: 0 20px;
    background-color: #212529;
    display: flex; /* usando flex pra uisar o align */
    align-items: center;
}

header span {
    color: white;
    font-size: 20px;
}

main {
    font-size: 16px;
}

.principal {
    display: flex;
    flex-direction: row; /* usando row e wrap pra deixar bom no mobile */
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #CED4DA;
}

.coluna-video {
    flex: 1;
    min-width: 300px; /* tamanho minimo da coluna pro flex poder jogar pra baixo no mobile igual no coluna-form */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* faz o video aumentar sem deformar */
}

.coluna-form {
    flex: 1;
    min-width: 350px; /* tamanho minimo da coluna pro flex poder jogar pra baixo no mobile igual no coluna-video */
    background-color: white;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(33, 37, 41, 0.2); /* eixo X, eixo Y, força do blur e cor */    
    display: flex;
    flex-direction: column;
    justify-content: center; /* alinhando no eixo X */
    align-items: center; /* alinhando no eixo Y */
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
    color: #212529; 
}

h1 span {
    color: #007BFF;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #157145;
    margin-bottom: 20px;
    font-weight: bold;
}

form {
    width: 100%;
    max-width: 450px;
}

fieldset {
    border: 1px solid #CED4DA;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
}

legend {
    background-color: #212529;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 14px;
}

.input-group {
    display: flex;
    flex-direction: column; /* flex aqui pra fazer o legend ficar em cima do input */
    margin-bottom: 15px;
}

.input-group label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #212529;
    flex: 1;
}

.input-group input {
    padding: 10px;
    flex: 1;
    border: 2px solid #CED4DA;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
    font-family: "Electrolize", sans-serif; /* por algum motivo se nao colocar font family aqui, ele nao puxa do main */
}

.input-group input:focus {
    border: 3px solid #007BFF;
    box-shadow: 0 0 10px #007BFF; /* eixo X, eixo Y, força do blur e cor */    
}

.input-group input:invalid:not(:focus):not(:placeholder-shown) {
    border: 3px solid #92140C;
    box-shadow: 0 0 10px #92140C; /* eixo X, eixo Y, força do blur e cor */    

}

.input-group input:valid {
    border: 3px solid #157145;
    box-shadow: 0 0 10px #157145; /* eixo X, eixo Y, força do blur e cor */    

}

button {
    background-color: #157145;
    color: white;
    font-family: "Electrolize", sans-serif;
    font-size: 16px;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    margin: auto;
    display: block;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    filter: brightness(0.9); /* escurece levemente ao passar o mouse */
    transform: scale(1.02);
}