* {
    background-color: white;
    color: black;
}

main {
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.coluna-video {
    flex: 1;
    border: 2px solid red;
    margin: 5px;
}

.coluna-form {
    flex: 1;
    border: 2px solid black;
    justify-items: center;
    margin: 0 auto;
    padding: 20px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    font-size: 30px;
}

.botao-login {
    background-color: #157145;
    color: white;
    margin-top: 20px;
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 30px;
    font-family: "Electrolize", sans-serif;
}

.campo-formulario {
    display: flex;
}

.campo-formulario label {
    flex: 1;
    text-align: right;
    padding: 5px;
    margin: 2px;
}

.campo-formulario input {
    flex: 1;
    padding: 5px;
    margin: 2px;
    text-align: left;
    border: #157145 solid;
}

legend {
    background-color: #157145;
    color: white;
    padding: 5px;
    border: #157145 solid;
    text-align: center;
}

fieldset {
    border: 2px solid #157145;
    margin: 5px;
}